*:focus {outline:none}

.App {
  text-align: center;
}

input[type=text] {
  border-radius: 10px;
}

.App-logo {
  padding: 30px;
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-container {
  background-color:rgb(42, 53, 88);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

@media only screen and (max-width: 600px) {
  .repos-container .list {
    max-height: 400px;
    overflow: scroll;
    border-top: 1px solid rgb(145, 167, 226);
    border-bottom: 1px solid rgb(145, 167, 226);
    border-left: 1px solid rgb(61, 69, 94);
    border-right: 1px solid rgb(61, 69, 94);
    box-shadow: 0px 0px 10px rgba(24, 20, 20, .3), 0px -10px 5px rgba(24, 20, 20, .2);
  }
}

.header {
  color: #eee;
  font-size: 14px;
  display: flex;
  padding: 10px;
}

.header img {
  width: 40px;
  border-radius: 50%;
}

.header div {
  padding: 10px 0px 0px 10px;
}

.user-text {
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-input {
  outline: none;
  padding: 15px;
  border: 1px solid rgb(252, 255, 69);
  font-size: 16px;
  color: #eee;
  background-color: rgb(42, 53, 88);
  width: 450px;
  text-align: center;
}

.content-header {
  text-shadow: 1px 1px 2px black;
  padding: 20px 0px 20px 10px;
  margin-top: 15px;
  color: #eee;
}

.repo-card-container {
  display: block;
  text-align: left;
  color: #eee;
  font-size: 14px;
  background-color: rgba(38, 47, 72, 0.747);
  border: 1px solid rgb(87, 104, 119);
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0px 2px 14px -5px rgba(0,0,0,0.75);
}

.repo-card-container div {
  padding: 2px;
}

.repo-card-container:hover {
  background-color: rgb(49, 61, 92);
  cursor: pointer;
}

.issue-card-container {
  display: block;
  text-align: left;
  color: #eee;
  font-size: 14px;
  background-color: rgba(38, 47, 72, 0.747);
  border: 1px solid rgb(87, 104, 119);
  padding: 10px;
  margin: 10px;
  width: 300px;
  border-radius: 15px 0px 15px 0px;
  box-shadow: 0px 2px 14px -5px rgba(0,0,0,0.75);
}

.issue-card-container div {
  padding: 2px;
}

.issue-card-container:hover {
  background-color: rgb(49, 61, 92);
  cursor: pointer;
}

.warning {
  color: rgb(245, 153, 99);
  padding: 10px;
  font-size: 18px;
}