.App {
  text-align: center;
}

input[type=text] {
  border-radius: 10px;
}

.App-logo {
  padding: 30px;
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:rgb(42, 53, 88);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-input {
  outline: none;
  padding: 15px;
  border: 1px solid rgb(252, 255, 69);
  font-size: 16px;
  color: #eee;
  background-color: rgb(42, 53, 88);
}